import('sprites/*')
import('helpers/svg-size')
@import 'helpers/variables'
@import 'helpers/mixins'
@import 'helpers/fonts'
@import 'helpers/optimize'

import('../blocks/**/*')


html
	font-size 16px

	+tablet()
		font-size 14px

	+mobile()
		font-size 12px

