include ../title/title

mixin about(data)
	+b.about&attributes(attributes)
		+e.title
			+title('h2')=data.title
		+e.content
			+e('p').text.
				Мой путь начался в&nbsp;2014&nbsp;году.
				Я&nbsp;занималась фрилансом, верстая странички по&nbsp;макету и&nbsp;дополняя их&nbsp;скриптами.
				Одновременно я&nbsp;искала себе работу, и, наконец, нашла свое место в&nbsp;CSSSR.
				Там мне удалось много и&nbsp;яростно поверстать лендинги и&nbsp;интернет-магазины,
				перерасти из&nbsp;Jquery в&nbsp;настоящий &laquo;ванильный&raquo; Javascript,
				помочь заверстать библиотеку компонентов на&nbsp;React,
				поддерживать несколько сайтов
				и&nbsp;даже сверстать пару десяток рассылок.
			+e('p').text.
				Еще немного обо мне:<br/>

				— Знаю английский на уровне, достаточном для чтения документации библиотек;<br/>
				— Работаю с системой сборки Webpack;<br/>
				— Использую React, Redux, PostCSS при создании веб-приложений;<br/>
				— Знаю препроцессоры HTML и CSS (Jade, Stylus и тд.);<br/>


