mixin project(data)
	+b.project&attributes(attributes)
		+e.img('img')(src=data.image)
		+e.content
			+e.title=data.title
			+e.description=data.description
			+e.tags
				each tag in data.tags
					+e('a').tag(href='#' + tag)='#' + tag
