.title
	display block
	color #282f3d
	text-transform uppercase
	font-family 'Open Sans', open-sans, sans-serif // TODO
	font-size 2.5rem
	letter-spacing .03em
	font-weight 500
	line-height 1
	text-align center
