.taglist
	display block

	&__tag-link
		padding .3rem
		color $link-color
		cursor pointer
		text-decoration none
		font-size 1.1rem
		line-height 1.5
		border-radius 3px

		&_active
			background $link-color
			color #fff

	&__tags
		padding-left 1rem

	&__item
		margin 1rem 0

	&__title
		font-size 1.2rem
		line-height 2
