mixin blurred-image(smallImage, bigImageURL)
	.blurred-image&attributes(attributes)
		.blurred-image__img.js-blurred-image(
			data-src=bigImageURL
			style=`
				background-image: url(${smallImage});
			`
		)
			block
