$link-color = $red-A200
$blue-color = darkslateblue
$red-A200 = #FF5252
$blue-gray-A100 = #CFD8DC
$blue-gray-900 = #263238
$grey-300 = #E0E0E0
$grey-400 = #BDBDBD
$grey-500 = #9E9E9E
$grey-600 = #757575
$white = #fff
$black = #000

$tablet = 1000px

