include ../project/project
include ../title/title
include ../taglist/taglist

mixin myworks(data)
	+b.myworks&attributes(attributes)
		+e.title
			+title('h2')=data.title
		+e.content
			+e.filter-section
				+taglist(data.tags, 'js-filter-btn')
				+e.clear-filters.js-clear-filters Сбросить фильтры
			+e('ul').projects.js-container
				each project in data.projects
					+e.project.js-container-item(data-groups=project.tags)
						+project(project)
