.myworks
	display flex
	align-items center
	flex-direction column
	min-height 100vh

	&__title
		color #282f3d
		text-transform uppercase
		font-family 'Open Sans', open-sans, sans-serif
		font-size 2.5rem
		letter-spacing .03em
		font-weight 500
		line-height 1
		text-align center
		margin-bottom 2rem // TODO

	&__projects
		column-count 3
		width 90%

	&__project
		display inline-block
		margin 1rem
		width 30%

	&__content
		display flex
		width 100%
		padding 0 5%

	&__filter-sections
		width 15%

	&__clear-filters
		display inline-block
		margin-left 1rem
		padding: .3rem .5rem
		background $blue-color
		color #fff
		cursor pointer
		text-decoration none
		font-size 1.1rem
		line-height 1.5
