include ../chip/chip
include ../icon/icon

mixin start(data)
	+b.start&attributes(attributes)
		+e.content
			+e('h1').title=data.title
			+e('h2').description=data.description
			+e.links
				+e('a').link_github(href='https://github.com/jlgfmhldf' target='_blank')
					+icon('github-logo').icon_github
					+e('span').link-text
						| Github

				+e('a').link_skype(href='skype:jlgfmhldf?chat' target='_blank')
					+icon('skype-logo').icon_skype
					+e('span').link-text
						| Skype


				+e('a').link_email(href='email:viktoria.zmcv@gmail.com' target='_blank')
					+icon('gmail-logo').icon_email
					+e('span').link-text
						| Email

			+e.mouse
				+icon('mouse').icon_mouse
