include ../chip/chip

mixin start(data)
	+b.start&attributes(attributes)
		+e('h1').title=data.title
		+e('h2').description=data.description
		+e.skills
			each skill in data.skills
				+e.skill
					+chip(skill.name, skill.color)
