.start
	display flex
	justify-content center
	align-items center
	flex-direction column
	height 100vh

	&__title
		color #282f3d
		text-transform uppercase
		font-family 'Open Sans', open-sans, sans-serif
		font-size 4rem
		letter-spacing .03em
		font-weight 500
		line-height 1
		pointer-events all
		text-align center

	&__profession
		font-weight 300
		font-size 1.75rem
		color #888d9c
		line-height 36px
		text-align center
		margin-top 8px
		padding 0 15%

	&__skills
		display flex
		margin-top 52px

	&__skill
		margin-right 5px

		&:last-child
			margin-right 0
