include ../chip/chip
include ../icon/icon
include ../blurred-image/blurred-image

mixin start(data)
	- smallImage = imageToBase64('app/resources/images/bg.min.jpg')

	+b.start&attributes(attributes)
		+blurred-image(
			smallImage,
			'./images/bg.jpg'
		).start__bg
		//- TODO
		+e.content
			+e('h1').title=data.title
			+e('h2').description=data.description
			+e.links
				+e('a').link_github(href='https://github.com/jlgfmhldf' target='_blank')
					+e('span').icon.icon-github
					+e('span').link-text
						| Github

				+e.slash /
				+e('a').link_skype(href='skype:jlgfmhldf?chat' target='_blank')
					+e('span').icon.icon-skype
					+e('span').link-text
						| Skype
				+e.slash /
				+e('a').link_email(href='https://telegram.me/jlgfmhldf' target='_blank')
					+e('span').icon.icon-telegram
					+e('span').link-text
						| Telegram
				+e.slash /
				+e('a').link_email(href='mailto:viktoria.zmcv@gmail.com' target='_blank')
					+e('span').icon.icon-mail
					+e('span').link-text
						| Email

			+e.mouse
				+icon('mouse').icon_mouse
