.start
	position relative
	display flex
	height 100vh
	min-height 100vh
	background-color #5c5984
	background-image url(../../images/bg.jpg)

	&::before
		position absolute
		top 0
		right 0
		left 0
		bottom 0
		content ''
		background-color rgba($black, .45)

	+tablet(orientation: landscape)
		height auto
		min-height auto

	&__content
		position relative
		display flex
		justify-content center
		align-items center
		flex-direction column
		z-index 100
		height 100%

	&__title
		margin-top 3rem
		margin-bottom 3rem
		color $white
		text-transform uppercase
		font-size 4rem
		letter-spacing .03em
		font-weight 500
		line-height 1
		text-align center

	&__description
		font-weight 300
		font-size 1.75rem
		color $grey-300
		line-height 1.3
		text-align center
		margin-top .5em
		padding 0 15%

	&__skills
		display flex
		margin-top 52px

	&__skill
		margin-right 5px

		&:last-child
			margin-right 0

	&__link
		display flex
		align-items center
		margin-right 2rem
		text-decoration none
		transition .5s ease
		color $white
		fill currentColor

		&_github

			&:hover
				color #af07af

		&_skype

			&:hover
				color #12A5F4

		&_email

			&:hover
				color #e04c40

	&__link-text
		margin-left .5rem
		color inherit
		font-size 1.3rem

	&__links
		display flex
		margin 6rem 0

	&__mouse
		position absolute
		bottom 2rem
		animation mouse 3s ease infinite

	&__icon
		size 1.2rem

		&_github
			transform translateY(-1px)

		&_skype
			transform translateY(-1px)

		&_mouse
			size 2.5rem
			fill $white

@keyframes mouse
	50%
		transform translateY(1rem)

	100%
		transform translateY(0)
